<%- include('partials/adminsidebars') %>
    <link rel="stylesheet" href="css/admin-newitem.css">
    <!-- add stuff here -->
    <div class="new_items_info">
        <form action="/upload-image" method="POST" enctype="multipart/form-data">
            <label for="name">Item Name</label><br>
            <input type="text" id="name" name="name" class="name" required><br>


            <label for="description" class="box-titles">Description</label><br>
            <textarea id="desc" name="desc" class="description"></textarea>
            <br />

            <label for="type">Type</label><br />
            <select name="type" id="type" class="type">
                <option value="Shirts">Shirts</option>
                <option value="Shoes">Shoes</option>
                <option value="Pants">Pants</option>
                <option value="Toiletries">Toiletries</option>
                <option value="House Items">House Items</option>
                <option value="Seasonal">Seasonal</option>
                <option value="Other">Other</option>
            </select>
            <br>
            <br>
            <input type="file" id="image" name="image" value="" required>

            <button class="final__submit">
                <span type="submit" class="button__text">submit</span>
                <i class="button__icon fas fa-chevron-right"></i>
            </button>
        </form>
    </div>
    <% if (locals.err) { %>
        <p>Could not upload image: please contact Laith at lalayass@macalester.edu with the codeword n-factorial</p>
        <% } %>
            <% if (locals.obj) { %>
                <div class="successful_upload">
                    <div class="success">
                        <p>Successfully Uploaded:</p>
                    </div>
                    <div class="uploaded_item">
                        <img src="data:obj/<%=obj.img.contentType%>;base64,
                <%=obj.img.data.toString('base64')%>">
                        <div class="right_side">
                            <p><b>Name: </b>
                                <%= obj.name %>
                            </p>
                            <p><b>Type: </b>
                                <%= obj.type %>
                            </p>
                            <p><b>Description: </b>
                                <%= obj.desc %>
                            </p>
                        </div>
                    </div>
                </div>
                <% } %>
                    </div>
                    </div>
                    </div>
                    </body>