<%- include('partials/navbar.ejs') %>
  <link rel="stylesheet" href="css/Allitems.css">

  <div style="display: flex; flex-grow: 1;">
    <div class="left_bar_container">
      <p>Sorting</p>
      <div class="black_line"></div>
      <%- include('partials/sort') %>
      <p>Filters</p>
      <div class="black_line"></div>
      <%- include('partials/filter') %>

    </div>
    <div class="flex-container">
      <% items.forEach(function(image) { %>
        <li class="flex-item">
          <!-- <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">  -->
            <div class="card">
                <img  class="card-img"  style="max-width:65%; max-height:65%" src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>">
                    <div class="text">
                        <h3> <%= image.name %> </h3>                
                        <p>Type: shoe  </p> 
                    </div>
                <!-- <p><%= image.desc %> </p> -->
                <p><button>See full description</button></p>
            </div>         

                <!-- <img  class="card-img"  style="max-width:65%; max-height:65%" src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>">
                    <div class="text"> 
                        <h4>
                            <%= image.name %>
                        </h4>     
                            <p>Type: shoe  </p>  
                    </div>   

              </div>
              <div class="flip-card-back">             
                <p>
                  <%= image.desc %>
                </p>               
              </div>
            </div>
          </div> -->
        </li>
        <% }) %>

    </div>
  </div>

  <!-- Script that checks for search bar and filters passed in as parameters, then sets up functionality for searchbar and filters/sorts -->
  <script src="javascript/sort_filter_search.js"></script>
  </body>

  </html>