<%- include('partials/navbar.ejs') %>
  <link rel="stylesheet" href="css/Allitems.css">

  <div style="display: flex;">
    <div class="left_bar_container">
      <div class="menu">
        <div class="sort_filter_selector">
            <input type="checkbox" id="" onchange="sorting_method('Item_Type_Sort')">
            <p>Item Type</p>
        </div>
        <div class="sort_filter_selector">
            <input type="checkbox" id="" onchange="sorting_method('Alphabetical_Sort')">
            <p>Alphabetical Order</p>
        </div>
        <div class="sort_filter_selector">
            <input type="checkbox" id="" onchange="sorting_method('Date_Sort')">
            <p>Date Added</p>
        </div>
      </div>
      <div class="menu">
        <div class="sort_filter_selector">
            <input type="checkbox" id="Shoes" onchange="filter('Shoes')">
            <p>Shoes</p>
        </div>
        <div class="sort_filter_selector">
            <input type="checkbox" id="Shirts" onchange="filter('Shirts')">
            <p>Shirts</p>
        </div>
        <div class="sort_filter_selector">
            <input type="checkbox" id="Pants" onchange="filter('Pants')">
            <p>Pants</p>
        </div>
        <div class="sort_filter_selector">
            <input type="checkbox" id="Toiletries" onchange="filter('Toiletries')">
            <p>Toiletries</p>
        </div>
        <div class="sort_filter_selector">
            <input type="checkbox" id="House Items" onchange="filter('House Items')">
            <p>House Items</p>
        </div>
        <div class="sort_filter_selector">
            <input type="checkbox" id="Seasonal" onchange="filter('Seasonal')">
            <p>Seasonal</p>
        </div>
        <div class="sort_filter_selector">
            <input type="checkbox" id="Other" onchange="filter('Other')">
            <p>Other</p>
        </div>
      </div>
    </div>
    <div class="flex-container">
      <% items.forEach(function(image) { %>
        <li class="flex-item">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img style="max-width:65%; max-height:65%" src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>">
              </div>
              <div class="flip-card-back">
                <h1>
                  <%= image.name %>
                </h1>
                <p>
                  <%= image.desc %>
                </p>
                <p>thsid asidfjlas dfksda flskadjf sdkfjdf asfksdaf jkfds fdklfjd fljfsdlf diofsdf jsdjfsd fosdofso jfaosd</p>
              </div>
            </div>
          </div>
        </li>
        <% }) %>

    </div>
  </div>

  <!-- Script that checks for search bar and filters passed in as parameters, then sets up functionality for searchbar and filters/sorts -->
  <script src="javascript/setup_allitems.js"></script>
  </body>

  </html>