<%- include('partials/navbar.ejs') %>
  <link rel="stylesheet" href="css/Allitems.css">

  <div style="display: flex; flex-grow: 1;">
    <div class="left_bar_container">
      <p>Sorting</p>
      <div class="black_line"></div>
      <%- include('partials/sort') %>
      <p>Filters</p>
      <div class="black_line"></div>
      <%- include('partials/filter') %>

    </div>
    <div class="flex-container">
      <% items.forEach(function(image) { %>
        <div class="single_item">
          <img class="single_item-img" style="max-width:100%; max-height:65%" src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>">
          <div class="text">
            <h3 class="name">
              <%= image.name %>
            </h3>
            <p>Type:</p>
            <p class="type">
              <%= image.type %>
            </p>
            <div class="break"></div>
            <p>Upload date:</p>
            <p class="main_date">
              <%= image.date.toDateString().substring(4); %>
            </p>
          </div>
          <!-- <p><%= image.desc %> </p> -->
          <a href="/single-item/<%= image._id %>">
            <button>See full description</button>
          </a>
        </div>
        <% }) %>

    </div>
  </div>
  <!-- Script that checks for search bar and filters passed in as parameters, then sets up functionality for searchbar and filters/sorts -->
  <script src="javascript/sort_filter_search.js"></script>
  </body>

  </html>