<%- include('partials/navbar.ejs') %>
  <link rel="stylesheet" href="css/Allitems.css">

  <div style="display: flex;">
    <div class="left_bar_container">
      <div class="icon_and_admin_text"></div>
    </div>
    <div class="flex-container">
      <% items.forEach(function(image) { %>
        <li class="flex-item">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img style="max-width:65%; max-height:65%" src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>">
              </div>
              <div class="flip-card-back">
                <h1>
                  <%= image.name %>
                </h1>
                <p>
                  <%= image.desc %>
                </p>
                <p></p>
              </div>
            </div>
          </div>
        </li>
        <% }) %>

    </div>
  </div>
  </body>

  </html>