<%- include('partials/navbar') %>
    <link rel="stylesheet" href="css/Home.css">

    <div>
        <div class="top">
            <div class="flexbox">
                <div class="opening_line">
                    <p class="Welcome">Welcome to the</p>
                    <p class="Welcome">
                        <b>Free Swap</b>
                    </p>
                    <p class="Welcome_2">Come and get <b>free items</b> or</p>
                    <p class="Welcome_2"><b>leave items</b> for others use.</p>
                </div>
                <img src="images/Macalester Logo.png" alt="" class="macalester_logo" />
            </div>
            <div class="shortcut_line">
                <button type="button" onclick="" class="middle_items">Shirts</button>
                <button type="button" onclick="" class="middle_items">Shorts</button>
                <button type="button" onclick="" class="middle_items">Shoes</button>
                <button type="button" onclick="" class="middle_items">Books</button>
                <button type="button" onclick="" class="middle_items">House Items</button>
                <div class="shop_now">
                    <p>Shop Now!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="latest_addition">
        <p class="latest_addition_opener">
            Latest Additions
        </p>
        <div class="latest_items_container">
            <img src="images/left_arrow.png" alt="" class="arrow" id="left_arrow">
            <div class="latest_items">
                <% items.forEach(function(image) { %>
                    <div class="item">
                        <div class="card">
                            <img style="max-width:50%; max-height:50%" src="data:image/<%=image.img.contentType%>;base64,
                            <%=image.img.data.toString('base64')%>">
                            <h1>
                                <%= image.name %>
                            </h1>
                            <p class="price">
                                <%= image.desc %>
                            </p>
                            <p>
                                <%= image.type %>
                            </p>
                        </div>
                    </div>
                    <% }) %>
                        <div class="item">
                            <div class="card">
                                <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                                <h1>All Stars</h1>
                                <p class="price">$0</p>
                                <p>Condition: good</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card">
                                <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                                <h1>All Stars</h1>
                                <p class="price">$0</p>
                                <p>Condition: good</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card">
                                <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                                <h1>All Stars</h1>
                                <p class="price">$0</p>
                                <p>Condition: good</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card">
                                <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                                <h1>All Stars</h1>
                                <p class="price">$0</p>
                                <p>Condition: good</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card">
                                <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                                <h1>All Stars</h1>
                                <p class="price">$0</p>
                                <p>Condition: good</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card">
                                <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                                <h1>All Stars</h1>
                                <p class="price">$0</p>
                                <p>Condition: good</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card">
                                <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                                <h1>All Stars</h1>
                                <p class="price">$0</p>
                                <p>Condition: good</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card">
                                <img src="images/sample1.png" alt="Denim Jeans" style="width:50%">
                                <h1>All Stars</h1>
                                <p class="price">$0</p>
                                <p>Condition: good</p>
                            </div>
                        </div>
            </div>
            <img src="images/right_arrow.png" alt="" class="arrow" id="right_arrow">
            <!-- Sets up javascript for moving elements left and right -->
            <script src="javascript/shuffle_latest_items.js"></script>
        </div>
    </div>
    <div class="ender">
        <div class="left_bar">
            <!-- alt = alternate text shown if the image can't be displayed -->
            <img src="images/icon.png" alt="" height="65" class="icon" />
            <!-- Table for div is to help center the text in it to be in the middle of the div -->
        </div>
        <p style="margin-left: auto; padding-right: 40px;">Free Swap</p>

    </div>
    </div>
    </body>

    </html>