<%- include('partials/navbar') %>

<link rel="stylesheet" href="/css/individual-item.css">
<div class="individual_item_container">
    <div class="image_container">
        <img class = "theimage" src="data:image/<%=item[0].img.contentType%>;base64,
        <%=item[0].img.data.toString('base64')%>" alt="">
    </div>
    <div class="right_side">
        <b><p class = "item-name label">Item Name:</p></b>
        <p class = "individual-name text_description"><%= item[0].name %></p> 
    
        <b><p class = "Description label">Description:</p></b>
        <p class = "details-description text_description"><%= item[0].desc %></p> 
    
        <b><p class = "item-type label">Type:</p></b>
        <p class = "type-name text_description"><%= item[0].type %></p>
    
        <b><p class = "date-title label">Date Added:</p></b>
        <p class = "date-time text_description"><%= item[0].date.toDateString().substring(4);%></p>     
    </div>
</div>
 
</body>
</html>