<%- include('partials/navbar') %>

<link rel="stylesheet" href="/css/individual-item.css">
<div style="display: flex; flex-wrap: wrap; padding: 4px;">
<div style="flex: 1 0 10%" >

    <body>
        
        <imgg>
        <img class = "theimage" src="data:image/<%=item[0].img.contentType%>;base64,
    <%=item[0].img.data.toString('base64')%>" alt="" height="400">
    </imgg>


<item-name>
    <p class = "item-name">Item Name</p>
</item-name>

<individual-name>
    <p class = "individual-name"><%= item[0].name %></p> 
</individual-name>

<Description><p class = "Description">Description</p> </Description>
 
<details-description> 
    <p class = "details-description"><%= item[0].desc %></p> 
 </details-description>

<item-type><p class = "item-type">Type</p></item-type>

<type-name>
    <p class = "type-name"><%= item[0].type %></p>
</type-name>               

<date-title> <p class = "date-title">Date</p> </date-title>
                            
<date-time> <p class = "date-time"><%= item[0].date %></p></date-time>           

       
</p>
</div> 
</div>
 
    </body>

    </html>