<%- include('partials/navbar') %>

<link rel="stylesheet" href="/css/individual-item.css">
<div style="display: flex; flex-wrap: wrap; padding: 4px;">
<div style="flex: 1 0 10%" >

    <body>
        
        <imgg>
        <img src="data:image/<%=item[0].img.contentType%>;base64,
    <%=item[0].img.data.toString('base64')%>" alt="" height="400">
    </imgg>


<item-name>
    <p>Item Name</p>
</item-name>

<individual-name>
            <%= item[0].name %>
</individual-name>

<Description><p>Description</p> </Description>
 
<details-description> 
    <%= item[0].desc %>
 </details-description>

<item-type><p>Type</p></item-type>

<type-name>
    <%= item[0].type %>
</type-name>               

<date-title> <p>Date</p></date-title>
                            
<date-time><%= item[0].date %></date-time>           

       
</p>
</div> 
</div>
 
    </body>

    </html>