<%- include('partials/navbar') %>

<link rel="stylesheet" href="/css/individual-items.css">

    <body>
        <imgg>
        <img src="data:image/<%=item[0].img.contentType%>;base64,
    <%=item[0].img.data.toString('base64')%>" alt="" height="400">
    </imgg>


<item-name>
        <p>Item Name</p>    
</item-name>

<individual-name>
            <%= item[0].name %>
</individual-name>

                <p style="position: absolute;
width: 85px;
height: 17px;
left: 800px;
top: 200px;

font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.1em;

color: #01426A;

opacity: 0.56;">
                    Description

                <p style="
    position: absolute;
    width: 400px;
    height: 40px;
    left: 800px;
    top: 240px;
    
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    
    color: #01426A;
    ">
                    <%= item[0].desc %>

                        <p style="
    position: absolute;    
width: 34px;
height: 17px;
left: 800px;
top: 300px;

font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.1em;

color: #01426A;

opacity: 0.56;
">
                            Type

                        <p style="position: absolute;
    width: 50px;
    height: 19px;
    left: 800px;
    top: 330px;
    
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    
    color: #01426A;">
                            <%= item[0].type %>

                                <p style="position: absolute;
width: 81px;
height: 17px;
left: 1031px;
top: 300px;

font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.1em;

color: #01426A;

opacity: 0.56;">
                                    Date

                                <p style="position: absolute;
width: 101px;
height: 19px;
left: 1031px;
top: 330px;

font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.1em;

color: #01426A;
">
                                    <%= item[0].date %>



                                </p>
    </body>

    </html>