<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <ul>
        <% for (var i=0; i < items.length; i++) { %>
            <li>
                <div>
                    <%= items[i].name %>
                        <%= items[i].description %>
                </div>
                <div>
                    <a href="/delete/<%= items[i]._id %>">delete</a>
                </div>
            </li>

            <img src="data:image/<%=image.img.contentType%>;base64,
            <%=image.img.data.toString('base64')%>">
            <% } %>
    </ul>

    <form method="POST" action="/testing-database" enctype="multipart/form-data">
        <input type="text" name="Name" id="Name" />
        <input type="text" name="description" id="description">
        <div>
            <label for="image">Upload Image</label>
            <input type="file" id="image" name="image" value="" required>
        </div>
        <input type="submit" />
    </form>
</body>

</html>